# semantic ui

!/src/semantic/dist
/src/semantic/dist/*
!/src/semantic/dist/semantic.min.css
!/src/semantic/dist/semantic.min.js
!/src/semantic/dist/themes/
/src/semantic/dist/themes/*
!/src/semantic/dist/themes/default/

src/semantic/tasks

!/src/semantic/src/
/src/semantic/src/*
!/src/semantic/src/theme.config
!/src/semantic/src/site
/src/semantic/src/site/*
!/src/semantic/src/site/globals
!/src/semantic/src/site/elements
!/src/semantic/src/site/modules

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# settings
/src/config/settings.js

.eslintcache 