// showing default values
$accentColor = #f69977
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #103751
$badgeTipColor = #1a7fa0
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
